@font-face {
    font-family: 'Heebo-Thin';
    src: url('../fonts/Heebo-Thin.eot');
    src: url('../fonts/Heebo-Thin.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Heebo-Thin.svg#Heebo-Thin') format('svg'),
         url('../fonts/Heebo-Thin.ttf') format('truetype'),
         url('../fonts/Heebo-Thin.woff') format('woff'),
         url('../fonts/Heebo-Thin.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  body, html{
    font-family: 'Heebo-Thin';
    font-style: normal;
    height: 100%;
  }
  header.bg_index  {
    background: url(../images/bg.png);
    height:600px;
    background-repeat: no-repeat;
    background-size: cover;
}
.main-btn{
    background-color: #57984C;
    height:55px;
    width:160px;
    color:white;
    padding:16px 31px 16px 31px;
}

.homepage{
    background: #E5E5E5;
    background-position: center;
    background-repeat: no-repeat;
    height:auto;  
    background-image: url('../images/Union\ \(2\).png');
    background-repeat: no-repeat; 
}
.homepg h2{
    font-size:54px;
    font-weight: bold;
}
.homepg p{
    font-size:20px;
    font-weight: bold;
}

footer{
    background-color: #2D3F45; 
}
footer.ico img{
    margin: 25px 5px 15px 5px;
} 
  ul.hr{
    padding: 25px; 
    margin: 0 auto;
  }
  
  ul.hr li{
    display: inline-block; 
    margin-right: 5px;
    color: white;
  }
.cross{
    height: 6.242706298828125px;
    width: 47.24261474609375px;
    left: 404.99957275390625px;
    top: 1333.9999694824219px;
    border-radius: 0px;
    background-image: url(../images/Crosses.png);
    margin-bottom:30.34px;
}

.line1 { 
    border-left: 1px solid orange;
    padding-left: 10px; 
}
  
.cards a {
    color:#57984C;  
}
   
.cards figure{
    text-align: center;
    background-color: white;
}
  
.cards img{
    display: block;
    height: auto;
    max-width: 100%;
}
.navbar-brand img{
	width: 200px;
	height: 100px;  
	}

.nav-bar li {
	padding-right: 20px;   
}

.nav-link {
font-size:1.2em !important;  
  color: black !important;
}

 .header_sear {
  box-sizing: border-box;
  }

 .header_sear form {
  position: relative ;
  width: 300px;
  border-bottom: 2px solid black;
}

 .header_sear input, button {
  border: none;
  outline: none;
  background: transparent;
}

.header_sear input {
  width: 100px;
  height: 50px;
  padding-left: 15px;
}
.inner{
  padding: 100px 20px 150px 20px;
}

.search {
  height: 50px;
  width: 50px;
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;  
}

.search:before {
  content: "\f002";
  font-family: FontAwesome;
  font-size: 20px;
}
.center{
  padding: 10px;
  margin: 0 auto;
}
.but_downoload{
    display: inline-block;  
    padding: 10px;
    color: green;
    text-align: center; 
    float: right;
    padding-left: 30px; 
    width: 180px;
    height: 50px;  
    border: 3px solid green; 
    border-radius: 55px;
    background: url("../images/pdf.png") 15px no-repeat;
    
    }
.tomato{ 
    background: url("../images/union4.png") center no-repeat;
    background-color: #f3f3f3;   
    background-size: cover;
}
      
hr{ 
    width: 150px;  
    display: inline-block;
    background-color: green;    
}
      
.tomato-one img{
    display: block;
    height: auto;
}
      
.tomato h5{
    color: green;
}
      
.tomato li{
    color: green;
    padding: 10px;
}
      
.tomato li span{
    color: black;
}
.shadow {
    background: #fefefe;
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: 0px 5px 5px 0px #868686;
}
.button-contact{
    background-color: green;
    width: 150px;
    height: 50px;
    color: white;
    border-radius: 50px;
    font-size: 12px;
  }
  .contIMG img{
    width:60px; 
    height:30px;
  }
  #products a{
      color: black !important;
  }
  .bgSeeds {
    background-color: #f3f3f3;  
  }
  
  .bgSeeds img{
    height: 150px;
  }
  
  .bgSeeds h3{color: green;}
  
  .bgSeeds hr{
    background: green;
    width: 150px;
  }
  
  .bgSeeds p{font-size: 16px}
  
  #products {
    margin:10px 5px 10px 5px;
    font-size: 12px;
    color: black;
  }


#products img{  
  height: 35px;
  margin: 15px 5px 15px 5px;
}

#products figcaption{color: black;}
#log{
  margin: 0 auto;
}
.navbar-toggler {
  position: absolute;
  right: 0;
}
.cart{
  display: flex;
}

.cart-list{
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.cart-item{
  display: flex;
  flex-direction: row;
  width: 300px;
  height: 150px;

}

.cart_text{
  display: flex;
  flex-direction: row;
  align-self: center;
  margin: 0 auto;
}

.cart_subtitle h4{
  color: #be870e;
  font-size: 14px;
}
.cart_subtitle p{
  font-size: 12px;
}


.cart-item a:hover{
  cursor: pointer;
}

.cartImg{
  width: 233px;
  height: 200px;
  overflow: hidden;
}

.cartImg img{
  width: 100%;
  height: 100%;
}

.cartImg{
  width: 100px;
  height: 100px;
  align-self: center;
}

.cross img{
  width: 10px;
  height: 10px;
}
